 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
/*header start*/
	.menu ul li a {
    	padding: 0 0px !important;
    	text-align: right;
	}
	/*slider start*/
	.slider{
		padding-bottom: 70px;
	}
	.slider_content{
    margin-top: 0px;
}
	.slider_content h1{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.slider_content h2{
		margin-bottom: 10px;
	}
	.slider_icon{
	font-size: 35px;
}
.slider_icon li{
	margin-right:25px !important;
}
	.cid{
		bottom: -45px;
	}
	.cid li{
		width: 13px;
		height: 13px;
	}
	/*slider end*/
	/*feature start*/
	.feature {
    padding-top: 50px;
    padding-bottom: 70px;
}
.common_h1{
	font-size: 28px;
	margin-bottom: 10px;
}
.common_p{
	font-size: 20px;
	word-spacing: 0;
}
	.m_t_60{
	margin-top: 30px;
}
.feature_icon{
	font-size: 40px;
}
.feature_text{
	text-align: center;
}
.feature_text h2{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}
	/*feature end*/
	/*contact start*/
	.contact {
    padding-top: 50px;
    padding-bottom: 70px;
}	
.f_form{
	margin-bottom: 0px;
}
	.f-submit{
		margin-top: 20px;
	}

	/*contact end*/
	/*footer start*/
	footer{
		padding-bottom: 50px;
	}
	.f1{
	text-align: center;
	margin-bottom: 40px;
}
	/*footer end*/
 }

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/
	.menu ul li a {
    	padding: 0 0px !important;
    	text-align: right;
	}
	/*slider start*/
	.slider{
		padding-bottom: 70px;
	}
	.slider_content{
    margin-top: 20px;
}
	.cid{
		bottom: -45px;
	}
	.cid li{
		width: 13px;
		height: 13px;
	}
	/*slider end*/
	/*feature start*/
	.feature {
    padding-top: 60px;
    padding-bottom: 80px;
}
	.m_t_60{
	margin-top: 40px;
}
.feature_text{
	text-align: center;
}
	/*feature end*/
	/*contact start*/
	.contact {
    padding-top: 60px;
    padding-bottom: 80px;
}
	/*contact end*/
	/*footer start*/
	.f1{
	text-align: center;
	margin-bottom: 50px;
}
	/*footer end*/
 }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	/*header start*/
	.menu ul li a {
    	padding: 0 0px !important;
    	text-align: right;
	}
	/*slider start*/
	.slider_content {
    margin-top: 30px;
}
	/*slider end*/
 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }

 /*Extra Extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) { 

 }